service:
  name: make-u-happy

plugins:
  - serverless-webpack
  - serverless-pseudo-parameters

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 2048
  stage: ${opt:stage, 'dev'}
  region: "eu-west-1"

functions:
  getPosts:
    handler: src/handlers/getPosts.handler
    events:
      - http:
          method: GET
          path: /posts/{subreddit}
          cors: true
  getPost:
    handler: src/handlers/getPost.handler
    events:
      - http:
          method: GET
          path: /post/{id}
          cors: true
