@import "../../assets/styles/colors.scss";
@import "../../assets/styles/basics.scss";
@font-face {
  font-family: Billabong;
  src: url(../../assets/fonts/Billabong.ttf);
}

.container {
  @extend %container-shared;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 52px;
  align-items: center;
  overflow: hidden;
  .search {
    @extend %container-shared;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 28px;
    width: 215px;
    background-color: $gray;
    overflow: hidden;
    input {
      height: 100%;
      width: 100%;
      border: none;
      background-color: $gray;
    }
  }

  .icons {
    display: flex;
    width: 200px;
    justify-content: space-around;
    svg {
      width: 28px;
      height: 28px;
      fill: black;
    }

    @media only screen and (max-width: 640px) {
      justify-content: flex-end;
      width: 50px;
      gap: 1rem;
    }
  }

  span {
    background-color: white;
  }
  .logo {
    h1 {
      font-family: Billabong;
      font-size: 2.5rem;
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}
