@import "../../assets/styles/colors.scss";
@import "../../assets/styles/basics.scss";
.container {
  width: 90vw;
  display: flex;
  justify-content: center;
  .scroll {
    width: 90vw;
    height: 4rem !important;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;

    .btn {
      scroll-snap-align: start;
    }
  }
}
